# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Build (and Release)

on:
  push:
    branches: [ "main" ]
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:

  build_android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'microsoft'
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: current
          arguments: ":android:assembleDebug"
      - name: Upload Android Build
        uses: actions/upload-artifact@v2
        with:
          name: android-build
          path: android/build/outputs/apk/debug/android-debug.apk

  build_macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'microsoft'
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: current
          arguments: ":desktop:packageDmg"
      - name: Upload MacOS Build
        uses: actions/upload-artifact@v2
        with:
          name: macos-build
          path: desktop/build/compose/binaries/main/dmg/composedesktop-*.dmg

  build_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'microsoft'
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: current
          arguments: ":desktop:packageDeb"
      - name: Upload Linux Build
        uses: actions/upload-artifact@v2
        with:
          name: linux-build
          path: desktop/build/compose/binaries/main/deb/composedesktop-*.deb

  build_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'microsoft'
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: current
          arguments: ":desktop:packageMsi"
      - name: Upload Windows Build
        uses: actions/upload-artifact@v2
        with:
          name: windows-build
          path: desktop/build/compose/binaries/main/msi/composedesktop-*.msi

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs:
      - "build_android"
      - "build_macos"
      - "build_linux"
      - "build_windows"
    runs-on: ubuntu-latest
    steps:
      - name: Download Builds
        uses: actions/download-artifact@v3
        with:
          path: build
      - name: Make Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            android/build/outputs/apk/debug/android-debug.apk
            desktop/build/compose/binaries/main/dmg/composedesktop-*.dmg
            desktop/build/compose/binaries/main/deb/composedesktop-*.deb
            desktop/build/compose/binaries/main/msi/composedesktop-*.msi
